p {
  color: red;
}

.red-find-border {
  border: 2px solid red;
}

//--------------------------------------------------
//Heights & Widths

//--------------------------------------------------
//Containers

.container-general-row {
  display: flex; 
}

.container-general-col {
  display: flex;
  flex-direction: column; 
}

//--------------------------------------------------


//--------------------------------------------------


//--------------------------------------------------


//--------------------------------------------------


//--------------------------------------------------